.nave{
  display: block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  border-radius: 50px;
  color: rgb(0, 17, 255);
  border: 1px dotted rgb(245, 6, 6);
  
}
.titulo{
  text-align: center;
  border-radius: 5px;
  color: green;
  border: blue solid 2px;
  padding: 10px 100px 10px 100px;
}
.btnconfig{
  border-radius: 50px;
  border: #25cfdb solid 5px;
  text-align: center;
}
.btn :hover{
  border-radius: 50px;
  background-color: rgb(165, 235, 53);
  color: #db2525;
}
.times{
border-radius: 50px;
border: #db2525 solid 2px;  
text-align: center;
}

.form{
  display: flex;
  padding: 50px 50px 50px 50px;
  width: 15%;
  height: auto;
  margin: 0 auto;
  border: 2px dashed black;
  
}

label {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #db2525;
}
