nav {
&.primary-navigation {
    display: block;
    padding:  0 0 0;  
    text-align: center;
    font-size: 16px;
  
    ul li {
      list-style: none;
      margin: 0 auto;
      border-left: 2px solid #64e73c;
      display: inline-block;
      padding: 0 30px;
      position: relative;
      text-decoration: none;
      text-align: center;
      font-family: arvo;
    }

    li a {
      color: black;
    }

    li a:hover {
      color: #3ca0e7;
    }

    li:hover {
      cursor: pointer;
    }

    ul li ul {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      padding-left: 0;
      left: 0;
      display: none;
      background: white;
    }

    ul li:hover > ul,
    ul li ul:hover {
      visibility: visible;
      opacity: 1;
      display: block;
      min-width: 250px;
      text-align: left;
      padding-top: 20px;
      box-shadow: 0px 3px 5px -1px #ccc;
    }

    ul li ul li {
      clear: both;
      width: 100%;
      text-align: left;
      margin-bottom: 20px;
      border-style: none;
    }

    ul li ul li a:hover {
      padding-left: 10px;
      border-left: 2px solid #3ca0e7;
      transition: all 0.3s ease;
    }
  }
}

a {

    text-decoration: none;

    &:hover {
        color: #3CA0E7;
    }
 
}

 ul li ul li a { transition: all 0.5s ease; }

.titulo{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background:red ;
  text-align: center;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  border: rgb(3, 3, 3) solid 3px;
  padding: 10px 100px 10px 100px;
}
.home img{
  width: 90vw;
  height: 30vh;
}
.homecontainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}


.btnconfig{
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: #25cfdb solid 1px;

}

.times{
border-radius: 1px;
border: #db2525 solid 2px;  
text-align: center;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%
}

.form{ 
  width: 20vh;
  padding: 3vw;
  border: 1px dashed black;
  
}

.homecontainer{
  justify-content: space-evenly;
  border: rgb(244, 2, 2) dotted 5px;
  padding: 10px;
}

.newsbox{
  margin-bottom: 1vh;
  align-items: center;
  border: black dotted 1px;
  padding: 10px;
  width: 30vw;
}

label {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #db2525;
}

.foot{
  border:3px  chocolate solid;
}

